*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gold: #e8b563;
    --darkgold: #d59c3f;
    --black: #1a1a1a;
}

body.bg-darkblue {
    background-color: fffffff;
}

/* Container form box */
.box {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0;
    border: 1px solid rgb(63, 63, 63) ;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.4s;
}

.box:hover {
    opacity: 1;
    border: 1px solid var(--black);
    box-shadow: 0 4px 18px 0 var(--black);
}

.user-box {
    position: relative;
}

/* Inputs */
.box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    color: var(--black);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    background: transparent;
}

/* Labels */
.box .user-box label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    font-weight: 600;
    color: var(--black);
    pointer-events: none;
    transition: all 0.5s;
}

/* Input - Focus, Valid */
.box .user-box input:focus ~ label,
.box .user-box input:valid ~ label{
    top: -25px;
    left: 0;
    color: var(--darkgold);
}

/* Submit Button */
.box .btn-form {
    padding: 10px 20px;
    color: var(--darkgold);
    letter-spacing: 4px;
    background-color: #ffffff;
    border: 3px solid var(--gold);
    transition: all 0.5s;
}

/* Submit - Hover */
.box .btn-form:hover {
    background-color: var(--gold);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--gold), 0 0 25px var(--gold);
}

/* Output container */
#output-container {
    display: none;    
}

/* Container Titles - Animation 3D effect*/
.box:hover .container-titles {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes text-pop-up-top {
    0% {
    transform: translateY(0);
    text-shadow: none;
    }
    100% {
    transform: translateY(-20px);
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
  
.container-titles > div {
    border: 4px solid var(--gold);
}

/* H1 */
.box #container-h1-form > div {
    width: 55%;
    height: 100%;
}

/* Biglietto passeggero - H2 */
#container-h2-output > div {
    width: 23%;
    height: 100%;
}